#main {
    display: flex;
    justify-content: center;

}
.codeWrapper {
    background-color: black;
    border: solid 5px purple;

    padding: 1vw;
    width: 20px;
    height: 100px;
    transition: width 2s, height 4s;

    display: flex;
    flex-direction: column;
}

.codeNumbersWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1vw;
    height: 200px;
}

.codePanelIMGandNumbers {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);

}

.spaceshipButton {
    width: 100%;
    padding: 1vw;
    background-color: purple;
}

.codeinputnumbers {
    background-color:purple;
    grid-area: 1/1/2/7;
    border: none;
}

.codeNumbers {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white; 
    font-size: 1vw;
}

.clearCodePanelButton, .enterCodeButton {
    background-color: purple;
    border: 3px solid rgb(34, 8, 61);
    height: 10%;
}

#codePanelTitel {
    color: white;
    font-size: 1vw;
}

.laikasShip {
    width: 50px;
    height: 50px;
    background-color:green;
}

.transformSize {
    width: 400px;
    height: 400px;
    
}

.clearCodePanelButton > p , .enterCodeButton > p {
    margin: 0;
}
