/* Denna sida avser samtliga regler för gemensamma css-regler på alla sidor */
/* VARNING!! SE TILL ATT CLASS- OCH ID-NAMN INTE ÄR LIKADAN SOM PÅ EN ANNAN PLANET */
@font-face {
  font-family: "PixelBold";
  src: url(/assets/fonts/PixelBold.ttf);
}

:root {
  /* Färger */
  --backgroundC: #000000;
  --mainTextC: #ffffff;
  --dialogTextC: #000000;
  --inputTitlesC: #810084;

  /* Knappar */
  --mainButtonC: #810084;
  --buttonBorderC: #342957;
  --exitButtonC: #c70039;
  --deleteButtonC: #c70039;

  /* Storlekar */
  --screenWidth: 1100px;
  --screenHeight: 650px;

  /* Fonter */
  --mainFont: "DotGothic16", sans-serif;
  --titleFont: "PixelBold";
}

/* Konstanter på hemsidan */
body {
  margin: 0px;
  height: 100vh;
  background-color: var(--backgroundC);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}
header {
  margin: 0px;
  width: var(--screenWidth);
  height: 75px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--mainFont);
  font-size: larger;
  color: var(--mainTextC);
}
main {
  width: var(--screenWidth);
  height: var(--screenHeight);

  border: 1px solid white;
}
footer {
  width: var(--screenWidth);
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--mainFont);
  color: var(--mainTextC);
}
