@import "common.css";
/* Denna fil avser unika css-regler för pluto samt laikas skepp */
/* VARNING!! SE TILL ATT CLASS- OCH ID-NAMN INTE ÄR LIKADAN SOM PÅ EN ANNAN PLANET */

.cloudSmall{
    background-image: url("/assets/images/characters/molntrans.png");
    height: 120px;
    width: 120px;
    background-size: cover;
    background-position: center;

    position:absolute;
    left: 100px;
    top: 170px;

    animation: moveclouds 40s linear infinite;
}


.cloudBig{
    background-image: url("/assets/images/characters/molntrans.png");
    height: 200px;
    width: 200px;
    background-size: cover;
    background-position: center;

    position: absolute;
    left: 100px;
    top: -30px;

    animation: moveclouds 30s linear infinite;
}

.cloud:before, .cloud:after {
    position: absolute; 
    transform: rotate(30deg);
    position: absolute; top: -15px; left: 10px;
}

.cloud:after {
	width: 120px; height: 120px;
	top: -55px; left: auto; right: 15px;
}


@keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}