@import "common.css";
/* Denna fil avser unika css-regler för raveplaneten */
/* VARNING!! SE TILL ATT CLASS- OCH ID-NAMN INTE ÄR LIKADAN SOM PÅ EN ANNAN PLANET */

/*användarens karaktär*/
.playerCharacter .playerRave{
    left: 0px;
    top: 0px;
  }

.partyPlayerCharacter {
  position: absolute;
  left: 200px;
  bottom: 40px;
}
.mike {
  Height: 90px;
  width: 90px;
  left: 530px;
  bottom: 150px;
}