.wrapperDiv {
    width: 95%;
    height: 95%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
  }

  .GridWrapperDiv {
    width: var(--screenWidth);
    height: var(--screenHeight);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .registerDiv {
    background-color: var(--mainButtonC);
    grid-row: 1/ span 2;
  }
  
  .avatarDiv{
    background-color: var(--mainButtonC);
    grid-row: 1/ span 2;
  }