@import "common.css";
/* Denna fil avser unika css-regler för vattenplaneten */
/* VARNING!! SE TILL ATT CLASS- OCH ID-NAMN INTE ÄR LIKADAN SOM PÅ EN ANNAN PLANET */

.waterPlayerCharacter {
    position: absolute;
    left: 205px;
    bottom: 300px;
}
.pinkjelly {
    Height: 90px;
    width: 90px;
    left: 700px;
    bottom: 300px;
}

.underwater .planetsItem{
    position: absolute;
    left: 650px;
    top: 584px;
    height: 45px;
    width: 45px;
}
