/* Varje sida har sin css skriven inom sina kommentarsramar. Se till att skriva nya css-regler på rätt respketive ställe ställen. */

:root {
  /* Färger */
  --backgroundC: #000000;
  --mainTextC: #ffffff;
  --dialogTextC: #000000;
  --inputTitlesC: #810084;

  /* Knappar */
  --mainButtonC: #810084;
  --buttonBorderC: #342957;
  --exitButtonC: #c70039;
  --deleteButtonC: #c70039;

  /* Storlekar */
  --screenWidth: 1100px;
  --screenHeight: 650px;

  /* Fonter */
  --mainFont: "DotGothic16", sans-serif;
}

/* Konstanter på hemsidan */
body {
  margin: 0px;
  height: 100vh;
  background-color: var(--backgroundC);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  margin: 0px;
  width: var(--screenWidth);
  height: 75px;
}
main {
  width: var(--screenWidth);
  height: var(--screenHeight);

  border: 1px solid white;
/* 
  display: flex;
  justify-content: center;
  align-items: center; */
}
footer {
  width: var(--screenWidth);
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--mainFont);
  color: var(--mainTextC);
}
/* konst - slut */

/* Startsidan*/
.titleText {
  font-family: var(--mainFont);
  color: var(--mainTextC);
  font-size: 70px;
  display: flex;
  justify-content: center;
}

.logInWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 300px;
  margin: auto;
}

.NameTagText, .PasswordText{
  text-align: center;
  font-family: var(--mainFont);
  margin: 0;
  color:var(--inputTitlesC);
}

.logInWrapper > input {
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 60%;
}

.buttonsDiv {
  width: 60%;
  height: 100px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.buttonsDiv > div {
  background-color: var(--mainButtonC);
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Start - Slut */

/* Registrering */
.wrapperDiv {
  width: 95%;
  height: 95%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.wrapperDiv > div {
  
}
.hej {
  background-color: var(--mainButtonC);
  grid-row: 1/ span 2;
}

.hejhej{
  background-color: var(--mainButtonC);
  grid-row: 1/ span 2;
}
/* Reg - Slut */

/* Tutorial */
/* Tuto - Slut */

/* Spaceship */
/* Ship - Slut */

/* Djungelplaneten */
/* Djung - Slut */

/* Raveplaneten */
/* Rave - Slut */

/* Vattenplaneten */
/* Vatten - Slut */

/* Ökenplaneten */
/* Öken - Slut */

/* Alienplaneten */
/* Alien - Slut */

/* Pluto */
/* Pluto - Slut */

/* Laikas skepp */
/* Laika - Slut */
